# Node
node_modules/
npm-debug.log
package-lock.json

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Env files
.env
.env.local

# Backup/temp
*.tmp
*.bak
~$*

# Python caches (if any)
__pycache__/
.pytest_cache/

# OneDrive temp
~*.tmp
